*{
    text-align: center;
    font-family: 'Inter', sans-serif;
}
main {
    background-color: #6943FF;
    height: 285px;
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2 {
    color: white;
}

h1 {
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -0.03em;
}
input {
    margin: 20px auto;
    height: 83px;
    width: 117px;
    border-radius: 5px;
    border: 2px solid #B295FF;
    font-size: 58px;
    text-align: center;
    padding-top: 3px;
    font-family: 'Roboto Serif', serif;
}

#btn {
    color: #3D3D3D;
    height: 42px;
    width: 117px;
    border-radius: 5px;
    font-weight: 400;
    margin-bottom: 20px;
}

#container {
    margin: 5em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 729px;
    width: 550px;
    left: 76px;
    top: 126px;
    border-radius: 0px;
}

ul {
    list-style: none;
    padding: 40px;
    margin-top: 0;
    width: 470px;
    height: 729px;
    left: 76px;
    top: 126px;
    background: #F4F4F4;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-content: center;
}

li {
    background-color: white;
    padding: 1.5em;
}

span {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0em;
    color: #5A537B;
}
p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
}

button:hover{
    opacity: 0.9;
}

@media screen and (max-width: 500px) {
    main {
        height: 285px;
        width: 380px;
    }

    h1 {
        font-weight: 600;
        font-size: 19px;

    }
    input {
        margin: 20px auto 15px;
        height: 60px;
        width: 75px;
        font-size: 40px;
        padding-top: 1px;
    }
    #btn {
        height: 3em;
        width: 7em;
        font-weight: 400;
        margin-bottom: 10px;
    
    }
    #container {
        margin: 150px 20px 20px 20px;
        height: 470px;
        width: 300px;
    }
    ul {
        padding: 20px 15px 10px 15px;
        width: 350px;
        height: 400px;
        gap: 15px;
    }
    span {
        font-weight: 400;
        font-size: 20px;
    }
    p {
        font-weight: 200;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 3px;
        padding-top: 7px;
    }


}